.networkForm {
    margin-left: -180px;
}

.networkForm input:not(#adminNo, #adminYes) {
    float: right;
 }
 
 #adminNo, #adminYes {
    margin-right: -135px;
 }
 
 @media (max-width: 940px) {
     .networkForm {
       margin-left: -60px;
       margin-top: -70px;
     }
 }