.networkForm {
    /* margin-left: -180px; */
}

.networkForm input:not(#adminNo, #adminYes) {
    float: right;
 }
 
 #adminNo, #adminYes {
    margin-right: -135px;
 }
 
 @media (max-width: 940px) {
     .networkForm {
       padding-left: 70px;
       padding-top: 20px;
       width: 80vw;
     }
 }