.profilePhoto img {
    width: 200px;
    border-radius: 10px;
}

.contactIcons {
    width: 50px;
    height: auto;
}

/* .profileIndex {
    display: flex;
    flex-direction: row;
} */

/* .profileInfoContainer {
    display: flex;
} */

.customProfile{
    display: flex;
}

.verticalDisplay {
    display: flex;
    flex-direction: column;
}

.networkInfo{
    margin-left: 50px;
}

.networkInfo h1, .networkInfoMedia h1 {
    font-size: 25px;
}

.networkInfoMedia {
    display: none;
}

@media (max-width: 940px) {
    .networkInfo {
        display: none;
    }
    .networkInfoMedia {
        display: block;
        text-align: center;
    }
  }

