.app {
  color: grey;
}

ul {
  list-style: none;
}

h1 {
  color: #89cff0
}

a {
  text-decoration: none;
  color: gray;
}

.mainContent {
  display: flex;
}

.routes {
  margin-left: 200px;
  margin-top:100px;
}

button{
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  margin-top: 5px;
  background-color: #89cff0;
  color: white;
}

.landingPage, .registerSuccess {
  position: absolute;
  left: 220px;
  margin-right: 10px;
}

.profileForm, .editPost{
  margin-top: 30px;
}

.errMsg {
  color: #b30000;
  font-size: small;
  text-align: center;
}

@media (max-width: 940px) {
  .landingPage, .registerSuccess{
    left: 150px;
    width:60vw;
  }

  .landingPage > h1 {
    font-size: 20px;
  }

  .profileForm, .postList, .profileIndex, .eventIndex {
    margin-left: -20vh;
  }
}